<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonWin32" version="2.1.0.3" targetFramework="net481" />
  <package id="ControlzEx" version="4.4.0" targetFramework="net481" />
  <package id="MahApps.Metro" version="2.4.10" targetFramework="net481" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.135" targetFramework="net481" />
  <package id="Ookii.Dialogs.WinForms" version="4.0.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="9.0.1" targetFramework="net481" />
  <package id="System.Formats.Nrbf" version="9.0.1" targetFramework="net481" />
  <package id="System.Memory" version="4.6.0" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net481" />
  <package id="System.Reflection.Metadata" version="9.0.1" targetFramework="net481" />
  <package id="System.Resources.Extensions" version="9.0.1" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
</packages>